page-remd {
    ion-content {
        background-color: rgba(92,38,132,1) !important;
    }


    .general{
        margin-bottom: 10px; 
    }

    [text-color="my-custom-color"] {
        color: #ffb822;
    }

    [text-color="my-custom-color2"] {
        color: #ffffff;
    }

    .item1{
        border: 1px solid #ffb822;
        background-color: rgba(255,184,34,0.75);
    }

    .item2{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item3{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item4{
        border: 1px solid #ffb822;
        margin-top:20px;
        margin-bottom: 20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item5{
        border: 1px solid #ffb822;
        margin-top:20px;
        margin-bottom: 20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item6{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item7{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item8{
        border: 1px solid #ffb822;
        margin-top:20px;
        margin-bottom: 20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item9{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item10{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .button{
        margin-top: 20px;
    }


    .option {
        text-transform: capitalize;
    }

    .states{
        margin-top: 10px;
    }

    .Select{
        max-width: 100% !important;
        width:100% !important
        }
}
