<ion-header>

    <ion-navbar color="fcmb">
      <ion-title text-center>
        <span text-color="my-custom-color">FORM NXP</span>
      </ion-title>
    
    </ion-navbar> 
  
  
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-item-group>
  <div class="general">
        <h4 no-lines color="fcmb" text-color="my-custom-color">EXPORTER'S DETAILS</h4>
      </div>
  
    <div>
      <ion-item style="color:white" no-lines class="item1">
        <ion-input placeholder="*Name" [ngModel]="selectedItem?.name" (ngModelChange)="selectedItem.name= $event" type="text"></ion-input>
      </ion-item>
    </div>
  
    <div>
      <ion-item style="color:white" no-lines class="item1">
        <ion-input placeholder="*Address"[ngModel]="selectedItem?.address" (ngModelChange)="selectedItem.address= $event" type="text"></ion-input>
      </ion-item>
    </div>
  
    <div >
        <span class="states" text-color="my-custom-color2">*City</span>
      </div>
    
      <div> 
        <ion-item style="color:white" no-lines class="item2">
          <ion-select class="Select" [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event">
            <ion-option class="option" [value]="c.city" *ngFor="let c of cityData">{{c.city}}</ion-option>
          </ion-select>
        </ion-item>
      </div> 
  
      <div>
          <span class="states" text-color="my-custom-color2">*State</span>
        <ion-item style="color:white" no-lines class="item2">
          <ion-select class="Select" [ngModel]="selectedItem?.states" (ngModelChange)="selectedItem.states= $event">
            <ion-option *ngFor="let s of stateData">{{s.label}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
  
    <div>
      <ion-item style="color:white" no-lines class="item1">
        <ion-input placeholder="*Phone" [ngModel]="selectedItem?.phone" (ngModelChange)="selectedItem.phone= $event" type="tel"></ion-input>
      </ion-item>
    </div>

    <div>
        <ion-item style="color:white" no-lines class="item1">
          <ion-input placeholder="*NEPC Reg No" [ngModel]="selectedItem?.nepc" (ngModelChange)="selectedItem.nepc= $event" type="number"></ion-input>
        </ion-item>
      </div>
  
    <div>
      <ion-item style="color:white" no-lines class="item1" >
        <ion-input placeholder="*RC Number" [ngModel]="selectedItem?.rcnumber" (ngModelChange)="selectedItem.rcnumber= $event"type="text"></ion-input>
      </ion-item>
    </div>
    <div>
        <span class="states" text-color="my-custom-color2">*Method of Payment</span>
      <ion-item style="color:white" no-lines class="item2">
        <ion-select class="Select" [ngModel]="selectedItem?.method" (ngModelChange)="selectedItem.method= $event">
          <ion-option *ngFor="let m of methodData">{{m.method}}</ion-option>
        </ion-select>
      </ion-item>
    </div> 

    <div class="general">
        <h4 no-lines color="fcmb" text-color="my-custom-color">CONSIGNEE DETAILS</h4>
      </div> 


    <div>
        <ion-item style="color:white" no-lines class="item1" >
          <ion-input placeholder="*Consignee First Name" [ngModel]="selectedItem?.cfname" (ngModelChange)="selectedItem.cfname= $event" type="text"></ion-input>
        </ion-item>
      </div>

      <div>
          <ion-item style="color:white" no-lines class="item1">
            <ion-input placeholder="*Consignee Last Name" [ngModel]="selectedItem?.clname" (ngModelChange)="selectedItem.clname= $event" type="text"></ion-input>
          </ion-item>
        </div>
    
      <div>
        <ion-item style="color:white" no-lines class="item1">
          <ion-input placeholder="*Consignee Address" [ngModel]="selectedItem?.caddress" (ngModelChange)="selectedItem.caddress= $event" type="text"></ion-input>
        </ion-item>
      </div>
    
      <div >
          <span class="states" text-color="my-custom-color2">*Consignee City</span>
        </div>
      
        <div> 
          <ion-item style="color:white" no-lines class="item2" >
            <ion-select class="Select" [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event">
              <ion-option class="option" [value]="c.city" *ngFor="let c of cityData">{{c.city}}</ion-option>
            </ion-select>
          </ion-item>
        </div> 
    
        <div>
            <span class="states" text-color="my-custom-color2">*Consignee State</span>
            </div>

            <div>
          <ion-item style="color:white" no-lines class="item2">
            <ion-select class="Select" [ngModel]="selectedItem?.states" (ngModelChange)="selectedItem.states= $event">
              <ion-option *ngFor="let s of stateData">{{s.label}}</ion-option>
            </ion-select>
          </ion-item>
        </div>


        <div>
            <span class="states" text-color="my-custom-color2">*Consignee Country</span>
          </div>
        
          <div>
            <ion-item style="color:white" no-lines class="item2">
              <ion-select class="Select" [ngModel]="selectedItem?.countries" (ngModelChange)="selectedItem.countries= $event">
                <ion-option class="option" [value]="c.country" *ngFor="let c of countryData">{{c.country}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
  
    
  
    
      <div class="button">
          <button ion-button block tappable color="fcmb2" (click)="next()">
            <span style="font-weight:bold; color:white">NEXT</span>
          </button>
          </div>
        </ion-item-group> 
  
  </ion-content>