page-md2 {
    ion-content {
        background-color: rgba(92,38,132,1) !important;
    }

   

    .general{
        margin-bottom: 10px; 
    }

    .general2{
        margin-top: 10px; 
    }

    [text-color="my-custom-color"] {
        color: #ffb822;
    }

    [text-color="my-custom-color2"] {
        color: #ffffff;
    } 

    .item1{
        border: 1px solid #ffb822;
        margin-top:5px;
        background-color: rgba(255,184,34,0.75);
    }

   

    .button{
        margin-top: 20px;
    }


    .states{
        margin-top: 10px;
    }


}
