<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM A</span>
    </ion-title>
  </ion-navbar>


</ion-header>


<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <span>GENERAL DETAILS</span>
    </ion-item-divider>
    <div padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Corporate Name*</ion-label>
          <ion-input [(ngModel)]="name" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Address*</ion-label>
          <ion-input [(ngModel)]="address" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Town*</ion-label>
          <ion-input [(ngModel)]="town" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
            <ion-label stacked>Country*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="countries">
            <ion-option class="option" [value]="c.country" *ngFor="let c of countryData">{{c.country}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="countries =='Nigeria'" no-lines>
          <ion-label stacked>Choose a State*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="states">
            <ion-option *ngFor="let s of stateData">{{s.label}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone*</ion-label>
          <ion-input [(ngModel)]="phone" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Email*</ion-label>
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Post Code*</ion-label>
          <ion-input [(ngModel)]="postcode" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Airline</ion-label>
          <ion-input [(ngModel)]="airline" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Air Ticket No*</ion-label>
          <ion-input [(ngModel)]="ticket" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Route*</ion-label>
          <ion-input [(ngModel)]="route" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Mode of Identification*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="identification">
            <ion-option *ngFor="let m of iData">{{m.mode}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Identification Number*</ion-label>
          <ion-input placeholder="*Identification Number" [(ngModel)]="idnumber" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <button class="button" ion-button block tappable color="fcmb" (click)="next()">
        <span style="font-weight:bold; color:white">NEXT</span>
      </button>



    </div>
  </ion-item-group>

</ion-content>