page-formaf {
    ion-content {
        background-color: rgba(255,255,255,1) !important;
    }


    [text-color="my-custom-color"] {
        color: #ffb822;
    }

    [text-color="my-custom-color2"] {
        color: #ffffff;
    }

    ion-item{
        border-bottom: 1px solid #5c2684 !important;
    }
  

    .button{
        margin-top: 20px;
    }


    .Select{
        max-width: 100% !important;
        width:100% !important
        }
}
