page-formnxp {
    background-color: #f5f5f5;
    .main-content {
        height: 100%;
      } 

      [text-color="my-custom-color"] {
        color: #ffb822;
    }
 
    .general{
        margin-top: 10px;
        border-radius: 7px; 
        padding: 10px;
         box-shadow: 3px 2px 3px darkgray;
     }


    .Approved{
        border-top: 2px solid green;
    }

    .Submitted{
        border-top: 2px solid orange;
    }

    .Saved{
        border-top: 2px solid grey;
    }
}
