<ion-header>
  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM A</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>


    <ion-item-divider (click)="mikilo()">
      <span>INTERMEDIARY BANK DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Name</ion-label>
          <ion-input [(ngModel)]="ibname" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Swift Code</ion-label>
          <ion-input [(ngModel)]="ibswiftcode" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Address</ion-label>
          <ion-input [(ngModel)]="ibaddress" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank City</ion-label>
          <ion-input [(ngModel)]="ibcity" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank State</ion-label>
          <ion-input [(ngModel)]="ibstate" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Country</ion-label>
          <ion-input [(ngModel)]="ibcountry" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Postal Code</ion-label>
          <ion-input [(ngModel)]="ibpostalcode" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider>
      <span>BENEFICIARY BANK DETAILS</span>
    </ion-item-divider>

    <div padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Name*</ion-label>
          <ion-input [(ngModel)]="bbname" type="text"></ion-input>
        </ion-item>



        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Address*</ion-label>
          <ion-input [(ngModel)]="bbaddress" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank City*</ion-label>
          <ion-input [(ngModel)]="bbcity" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Country*</ion-label>
          <ion-input [(ngModel)]="bbcountry" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Beneficiary Swift Code*</ion-label>
          <ion-input [(ngModel)]="bbswiftcode" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank State*</ion-label>
          <ion-input [(ngModel)]="bbstate" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Postal Code*</ion-label>
          <ion-input [(ngModel)]="bbpostalcode" type="number"></ion-input>
        </ion-item>
      </ion-list>


      <button class="button" ion-button block tappable color="fcmb" (click)="submit()">
        <span style="font-weight:bold; color:white">SUBMIT</span>
      </button>
    </div>
  </ion-item-group>

</ion-content>