
<ion-header>

    <ion-navbar color="fcmb">
        <ion-title text-center>
          <span text-color="my-custom-color">FORM A</span>
        </ion-title>
    </ion-navbar>

</ion-header> 


<ion-content padding>

    <ion-item-group>
        <div class="details">
         <h4 no-lines color="fcmb" text-color="my-custom-color">PAYMENT DETAILS</h4>
       </div>
     
     
           <div class="payment">
             <span text-color="my-custom-color2">*Purpose of Payment</span>
           </div>
         
           <div> 
             <ion-item style="color:white" no-lines class="item1">
               <ion-select class="Select" [ngModel]="selectedItem3?.purpose" (ngModelChange)="selectedItem3.purpose=$event">
                 <ion-option class="option" [value]="p.purpose" *ngFor="let p of purposeData">{{p.purpose}}</ion-option>
               </ion-select>
             </ion-item>
           </div>
     
     
           <div class="amount">
               <span text-color="my-custom-color2">*Amount</span>
             </div>
           
             <div> 
               <ion-item style="color:white" no-lines class="item2">
                 <ion-select class="Select"  [ngModel]="selectedItem3?.amount" (ngModelChange)="selectedItem3.amount=$event">
                   <ion-option class="option" [value]="a.amount" *ngFor="let a of amountData">{{a.amount}}</ion-option>
                 </ion-select>
               </ion-item>
             </div> 
     
             <div class="charge">
                 <span text-color="my-custom-color2">*Charge Amount</span>
               </div>
             
               <div> 
                 <ion-item style="color:white" no-lines class="item2">
                   <ion-select class="Select"  [ngModel]="selectedItem3?.charge" (ngModelChange)="selectedItem3.charge=$event">
                     <ion-option class="option" [value]="c.charge" *ngFor="let c of chargeData">{{c.charge}}</ion-option>
                   </ion-select>
                 </ion-item>
               </div>
     
               <div>
                   <ion-item style="color:white" no-lines class="item3">
                     <ion-input placeholder="*Amount applied for in words" [ngModel]="selectedItem3?.applied" (ngModelChange)="selectedItem3.applied=$event" type="text"></ion-input>
                   </ion-item>
                 </div>
         
                  <div>
             <ion-item style="color:white" no-lines  class="item10">
               <ion-textarea [ngModel]="selectedItem3?.info" (ngModelChange)="selectedItem3.info=$event" rows="3" placeholder="Remittance Info"></ion-textarea>
             </ion-item> 
           </div>
     
     
           <div class="valid">
               <span text-color="my-custom-color2">*Valid for Forex</span>
             </div>
         <div>
           <ion-item style="color:white" no-lines class="item4">
               <ion-select class="Select"  [ngModel]="selectedItem3?.valid" (ngModelChange)="selectedItem3.valid=$event">
                 <ion-option value="yes">Yes</ion-option>
                 <ion-option value="no">No</ion-option>
                </ion-select>
             </ion-item>
           </div>
     
           <div class="transfer">
               <span text-color="my-custom-color2">*Transfer Account</span>
             </div>
           
             <div> 
               <ion-item style="color:white" no-lines class="item1">
                 <ion-select class="Select"  [ngModel]="selectedItem3?.account" (ngModelChange)="selectedItem3.account=$event">
                   <ion-option class="option" [value]="a.account" *ngFor="let a of accountData">{{a.account}}</ion-option>
                 </ion-select>
               </ion-item> 
             </div>
     
             <div>
                 <ion-item style="color:white" no-lines class="item3">
                   <ion-input placeholder="*Estimated Debit Amount" [ngModel]="selectedItem3?.estimated" (ngModelChange)="selectedItem3.estimated=$event" type="text"></ion-input>
                 </ion-item>
               </div>
     
          
         
             <div class="button">
                 <button ion-button block tappable color="fcmb2" (click)="next()">
                   <span style="font-weight:bold; color:white">NEXT</span>
                 </button>
                 </div>
               </ion-item-group>

</ion-content>
