page-formad3 {
    ion-content {
        background-color: rgba(92,38,132,1) !important;
    }

    [text-color="my-custom-color"] {
        color: #ffb822;
    }
 
    [text-color="my-custom-color2"] {
        color: #ffffff;
    }

    .item1{
        border: 1px solid #ffb822;
        margin-bottom: 10px;
        background-color: rgba(255,184,34,0.75);
    }

    .item2{
        border: 1px solid #ffb822;
        margin-bottom: 10px;
        background-color: rgba(255,184,34,0.75);
    }

    .item10{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item3{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item4{
        border: 1px solid #ffb822;
        margin-bottom: 10px;
        background-color: rgba(255,184,34,0.75);
    }

    .Select{
        max-width: 100% !important;
        width:100% !important
        }

        .option {
            text-transform: capitalize;
        }
        .payment{
            margin-top: 10px;
        }

        .amount{
            margin-top: 10px;
        }

        .valid{
            margin-top: 10px;
        }

        .transfer{
            margin-top: 10px;
        }

        .button{
            margin-top: 20px;
        }
}
